/*#region  Lehe formaat */

body {
  max-width: 40em;
  margin: 0 0; 
  padding: 0.6em 1.5em 6em 2em; 
}

/*#region  Üldine font ja fondisuurus */

body, input {
  font-family: 'Times New Roman', 'Times', serif;
  font-size: 14pt; 
  color: #24292E !important;
  line-height: 1.5 !important;
}  

/*#region Sisestuselemendid */

/* Tekstisisestusala
Content-editable div, kujundus imiteeritud Bootstrap input elemendi järele */
.tekstiala { 
  font-family: 'Courier New', Courier, monospace;
  display: block;
  min-height: 2.5rem;
  height: auto; /* 2.5rem; */
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 1rem; }
.tekstiala:focus {
  border-color: LightGray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(220, 180, 220, 0.6);
  outline: 0 none;
}

/*#region Lingid */
a, a:hover, a:active, a:visited {
  color: #292B2C !important;
  text-decoration: underline;
  text-decoration-style: dashed;
}

