/* 

Teave
-----
* Flexbox: vt https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-content
* Vormid: vt https://v4-alpha.getbootstrap.com/components/forms/

Värviskeem
----------
* (värvimääranguid on ka HTML-is)
* keskelemendi rõhutus - DarkBlue
* dialoogikasti ääris, märgend - #C5E1A5 (nõrk roheline)
* võimaldatud nupp, tooltip - rgb(117, 117, 117)
* mittevõimalik nupp - Gainsboro
* sisestatav tekst - #464a4c
* Infopaan - taust Azure, ääris Aqua
* Infopaani sulgur - Gray
* Salvesta (OK-roheline) - #C5E1A5
* Tühista (nupp) - #F48FB1
* Link - rgb(41, 43, 44) (Bootstrap4 vaikimisi tekstivärv)
  - allpunktiir - DarkBlue

*/

  body, textarea, button, input, legend {  
    font-family: 'Times New Roman', serif !important;
    font-size: 14pt !important;
  }

  body { padding: 2rem 2rem 8rem 2rem; }

  /* Content-editable div, kujundus imiteeritud Bootstrap input elemendi järele */
  #Tekst { 
    display: block;
    width: 100%; height: 2.5rem;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #464a4c;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-bottom: 1rem; }
  #Tekst:focus {
    border-color: LightGray;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(220, 180, 220, 0.6);
    outline: 0 none;
  }

  .kesk { color: DarkBlue;
    font-weight: 600; }
  .nupp { margin: 1rem;
    cursor: pointer;
    color: rgb(117, 117, 117);
  }
  .ikoon { font-family: 'Material Icons';
    font-size: 48px;
  }
  /* Tekstitöötluse nupud */
  #Tekstitootlus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .tooltip-inner { background-color: White;
    color: rgb(117, 117, 117); }

  /* Filter */
  #Filtritekst { color: rgb(117, 117, 117) !important; }
  #Filtritekst:focus {
    border-color: #C5E1A5 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(220, 180, 220, 0.6);
    outline: 0 none;      
  }

  /* Infopaan */
  #Infopaan {
    border: 1px solid Aqua;
    border-radius: 4px; 
    background-color: Azure;
    padding: 0 0 0.5rem;
    margin-bottom: 1rem; } 
  #Infotekst {
    margin: 1rem;
  }   
  .klahv {
    border-radius: 3px;
    padding-left: 1px; padding-right: 1px;
    border: 1px solid rgb(117, 117, 117);
    font-family: 'Courier New', monospace;
  }
  #InfopaanSulge {
    padding: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: Gray;
  }
  .peidetud { 
    /* display: flex; ülekirjutamiseks */
    display: none !important;
  }

  /* Tekstikogu */
  #Tekstikogu { }
  .kirje { margin: 0; }
  .margend { 
    border: 1px dotted Aqua;
    border-radius: 2px;
    padding: 2px;
    font-family: 'Courier New', monospace;
    font-size: 10pt;
    text-transform: uppercase;
    margin-left: 1rem; }

  /* Sirvimisnupud */
  #Sirvimine {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  #PageNo { 
    margin-left: 1rem; margin-right: 1rem;
  }
  #PageNo:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .disabled { color: Gainsboro !important; cursor: auto; }

  /* Filtridialoog */
  #Filtritekst { margin-left: 2rem;
    margin-right: 1rem; width: 8rem; }

  /* Täpsustava küsimuse vorm */
  #Salvestusdialoog, #Filtridialoog {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C5E1A5;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
  }

  /* Määra üle Bootstrapi lingivärv */
  a, a:hover, a:active, a:visited {
    color: rgb(41, 43, 44) !important;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: DarkBlue;
  }

