<!DOCTYPE html>
<html>

  <head>
    <!-- Material Design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/Tekstid.css">

  </head>

  <body>

    <div id='Tekst'>
      {{ content }}
    </div>

    <!-- Litsents, autor, viide repole -->
    {% include Jalus.html %}

  </body>

</html>